<!doctype html>

<html>

<head>
    <base href="{{ site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140801940-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140801940-3');
    </script>

    <title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="apple-mobile-web-app-title"
        content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/normalize.css' | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            $('.preloader').fadeOut('slow');
        }, 1000);
    </script>

</head>
<noscript>
    <div class="container">
        <div class="h5 position-relative overflow-hidden p-3 p-md-5 m-md-3">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="nerd h1 font-weight-normal text-left">JS Off?</h1>
                <p class="lead text-right pl-2">
                    {<i>
                        turn it ON <br>
                        and wait.
                    </i>}
                </p>
            </div>
        </div>
    </div>
</noscript>

<body id="style-3" class="bootstrap-overrides">
    <div class="preloader">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="nerd h1 font-weight-normal text-right">[U, L]</h1>
            </div>
        </div>
    </div>