{% include header.html %} {% include navbar.html %}
<div class="container">
    <div class="h2">
        About
    </div>
    <div class="h5 position-relative overflow-hidden p-3 p-md-5 m-md-3">
        Hello! I am <a class="btn-white text-dark" href="http://dhruvsuthar.ml">Dhruv Suthar</a>
        <br>
        I am a Learner, but I share, whatever I build. And, I like the idea of Open-Source.
        <br><br>
        <h4 class="text-secondary">Developer</h4>
        As a <i>developer</i>, I tend to code as little as possible in situations where code isn't necessary while in
        opposite
        scenario, I love to use all resources at hand to code and love to learn new things. Thus, I am an Obnoxious
        Evangelist. <br><br>
        <h4 class="text-secondary">Designer</h4>
        I love to <i>design</i> things that are minimal in nature and more expressive. I like <span
            class="colored">colors</span>, but each of those have purpose in my designs. <br><br>
        <h4 class="nerd text-secondary">else</h4>{
            As a person, I am an intermediate Minecraft player. Cats are Love.
        }
    </div>
</div>
{% include footer.html %}