{% include header.html %} {% include navbar.html %}
<div class="container">
    <div class="h5 position-relative overflow-hidden p-3 p-md-5 m-md-3">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="nerd h1 font-weight-normal text-left">Privacy?</h1>
            <p class="lead text-right pl-2">
                <i>
                    That's important.
                </i>
            </p>
        </div>
    </div>
    <div class="h5 position-relative overflow-hidden p-3 p-md-5 m-md-3">
        <h4 class="text-secondary">Analytics</h4>
        Google Analytics used for tracking information of our <del>visitors</del> guests and analyze that information.
        <br><br>
        <h4 class="text-secondary">Encryption</h4>
        <a class="text-dark" href="https://letsencrypt.org/">Let's Encrypt</a> secures this website with valid
        certificates and all the communications to <i>& </i>from thi website are encrypted.<br><br>
        <h4 class="text-secondary">Forms</h4>
        Email provided via Contact form are closely guarded secret between Dhruv and sender.
    </div>
</div>
{% include footer.html %}