{% include header.html %} {% include navbar.html %}
<div class="container">
    <div class="h5 position-relative overflow-hidden p-3 p-md-5 m-md-3">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="nerd h1 font-weight-normal text-left" id="thanksword"></h1>
            <p class="lead text-right pl-2">
                <i>
                    That's Thanks :D <br>
                    I will get to you soon.
                </i>
            </p>
        </div>
    </div>
</div>
<script>
    var textarray = [
        "Gracias !",
        "Vielen Dank",
        "Thanks !"
    ];
    function RndText() {
        var rannum = Math.floor(Math.random() * textarray.length);
        document.getElementById('thanksword').innerHTML = textarray[rannum];
    }
    onload = function () { RndText(); }
    window.setTimeout(function () {
        window.location.href = "{{ site.url }}";
    }, 5000);
</script>
{% include footer.html %}